In [304]:
import pandas as pd
import numpy as np

In [305]:
data = pd.read_csv('../data/combined_data.csv')
data.head()

,LCLid,date,energy_median,energy_mean,energy_max,energy_count,energy_std,energy_sum,energy_min,temperatureMax,temperatureMin,windBearing,cloudCover,windSpeed,Type,stdorToU,Acorn,Acorn_grouped,file
0,MAC000131,2011-12-15,0.4850,0.432045,0.868,22,0.239146,9.505,0.072,7.97,4.08,234.0,0.42,4.71,No holiday,Std,ACORN-E,Affluent,block_22
1,MAC000131,2011-12-16,0.1415,0.296167,1.116,48,0.281471,14.216,0.031,4.68,1.80,315.0,0.70,3.71,No holiday,Std,ACORN-E,Affluent,block_22
2,MAC000131,2011-12-17,0.1015,0.189812,0.685,48,0.188405,9.111,0.064,5.35,0.24,285.0,0.37,3.99,No holiday,Std,ACORN-E,Affluent,block_22
3,MAC000131,2011-12-18,0.1140,0.218979,0.676,48,0.202919,10.511,0.065,5.49,-0.56,289.0,0.22,3.60,No holiday,Std,ACORN-E,Affluent,block_22
4,MAC000131,2011-12-19,0.1910,0.325979,0.788,48,0.259205,15.647,0.066,6.64,-0.84,235.0,0.47,2.70,No holiday,Std,ACORN-E,Affluent,block_22

In [306]:
data.rename(columns={'date': 'day'}, inplace=True)
housecount = data.groupby('day')[['LCLid']].nunique()
housecount.rename(columns={'LCLid': 'HouseCount'}, inplace=True)

housecount.head()

            HouseCount
day
2011-11-23          13
2011-11-24          25
2011-11-25          32
2011-11-26          41
2011-11-27          41

In [307]:
energy_per_house = data.groupby('day')[['energy_sum']].sum()
energy_per_house = energy_per_house.merge(housecount, on = ['day'])
energy_per_house = energy_per_house.reset_index()

energy_per_house.head()

          day  energy_sum  HouseCount
0  2011-11-23   90.385000          13
1  2011-11-24  213.412000          25
2  2011-11-25  303.993000          32
3  2011-11-26  420.976000          41
4  2011-11-27  444.883001          41

In [308]:
energy_per_house.day = pd.to_datetime(energy_per_house.day, format='%Y-%m-%d').dt.date
energy_per_house.head()

          day  energy_sum  HouseCount
0  2011-11-23   90.385000          13
1  2011-11-24  213.412000          25
2  2011-11-25  303.993000          32
3  2011-11-26  420.976000          41
4  2011-11-27  444.883001          41

In [309]:
energy_per_house['avg_energy'] =  energy_per_house['energy_sum']/energy_per_house['HouseCount']
energy_per_house.head()

          day  energy_sum  HouseCount  avg_energy
0  2011-11-23   90.385000          13    6.952692
1  2011-11-24  213.412000          25    8.536480
2  2011-11-25  303.993000          32    9.499781
3  2011-11-26  420.976000          41   10.267707
4  2011-11-27  444.883001          41   10.850805

In [310]:
weather = pd.read_csv('../data/weather_daily_darksky.csv')
weather.head()

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,temperatureHigh,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,10.87,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,8.59,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,10.33,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,7.36,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,...,7.93,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99

In [311]:
weather['day']=  pd.to_datetime(weather['time']) # day is given as timestamp
weather['day']=  pd.to_datetime(weather['day'],format='%Y%m%d').dt.date

weather.head()

,temperatureMax,temperatureMaxTime,windBearing,icon,dewPoint,temperatureMinTime,cloudCover,windSpeed,pressure,apparentTemperatureMinTime,...,sunriseTime,temperatureHighTime,uvIndexTime,summary,temperatureLowTime,apparentTemperatureMin,apparentTemperatureMaxTime,apparentTemperatureLowTime,moonPhase,day
0,11.96,2011-11-11 23:00:00,123,fog,9.40,2011-11-11 07:00:00,0.79,3.88,1016.08,2011-11-11 07:00:00,...,2011-11-11 07:12:14,2011-11-11 19:00:00,2011-11-11 11:00:00,Foggy until afternoon.,2011-11-11 19:00:00,6.48,2011-11-11 23:00:00,2011-11-11 19:00:00,0.52,2011-11-11
1,8.59,2011-12-11 14:00:00,198,partly-cloudy-day,4.49,2011-12-11 01:00:00,0.56,3.94,1007.71,2011-12-11 02:00:00,...,2011-12-11 07:57:02,2011-12-11 14:00:00,2011-12-11 12:00:00,Partly cloudy throughout the day.,2011-12-12 07:00:00,0.11,2011-12-11 20:00:00,2011-12-12 08:00:00,0.53,2011-12-11
2,10.33,2011-12-27 02:00:00,225,partly-cloudy-day,5.47,2011-12-27 23:00:00,0.85,3.54,1032.76,2011-12-27 22:00:00,...,2011-12-27 08:07:06,2011-12-27 14:00:00,2011-12-27 00:00:00,Mostly cloudy throughout the day.,2011-12-27 23:00:00,5.59,2011-12-27 02:00:00,2011-12-28 00:00:00,0.10,2011-12-27
3,8.07,2011-12-02 23:00:00,232,wind,3.69,2011-12-02 07:00:00,0.32,3.00,1012.12,2011-12-02 07:00:00,...,2011-12-02 07:46:09,2011-12-02 12:00:00,2011-12-02 10:00:00,Partly cloudy throughout the day and breezy ov...,2011-12-02 19:00:00,0.46,2011-12-02 12:00:00,2011-12-02 19:00:00,0.25,2011-12-02
4,8.22,2011-12-24 23:00:00,252,partly-cloudy-night,2.79,2011-12-24 07:00:00,0.37,4.46,1028.17,2011-12-24 07:00:00,...,2011-12-24 08:06:15,2011-12-24 15:00:00,2011-12-24 13:00:00,Mostly cloudy throughout the day.,2011-12-24 19:00:00,-0.51,2011-12-24 23:00:00,2011-12-24 20:00:00,0.99,2011-12-24

In [312]:
weather = weather[['temperatureMax', 'windBearing', 'dewPoint', 'cloudCover', 'windSpeed',
       'pressure', 'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase','day']]
weather = weather.dropna()

In [313]:
weather_energy =  energy_per_house.merge(weather,on='day')
weather_energy.head(2)

,day,energy_sum,HouseCount,avg_energy,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,...,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase
0,2011-11-23,90.385,13,6.952692,10.36,229,6.29,0.36,2.04,1027.12,...,8.06,0.93,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94
1,2011-11-24,213.412,25,8.536480,12.93,204,8.56,0.41,4.04,1027.22,...,10.64,0.89,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97

In [314]:
holiday = pd.read_csv('../data/uk_bank_holidays.csv')
holiday.rename(columns={"Bank holidays":"day"})
holiday.columns = ["day","Type"]
holiday['day'] = pd.to_datetime(holiday['day'],format='%Y-%m-%d').dt.date
holiday.head(4)

          day                                          Type
0  2012-12-26                                    Boxing Day
1  2012-12-25                                 Christmas Day
2  2012-08-27                           Summer bank holiday
3  2012-05-06  Queen?s Diamond Jubilee (extra bank holiday)

In [315]:
weather_energy_holiday = weather_energy.merge(holiday, left_on = 'day',right_on = 'day',how = 'left')
weather_energy_holiday.head(4)

,day,energy_sum,HouseCount,avg_energy,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,...,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type
0,2011-11-23,90.385,13,6.952692,10.36,229,6.29,0.36,2.04,1027.12,...,0.93,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94,NaN
1,2011-11-24,213.412,25,8.536480,12.93,204,8.56,0.41,4.04,1027.22,...,0.89,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97,NaN
2,2011-11-25,303.993,32,9.499781,13.03,243,7.24,0.48,5.02,1024.47,...,0.79,4.69,13.03,1.0,7.01,7.46,12.27,4.84,0.01,NaN
3,2011-11-26,420.976,41,10.267707,12.96,237,6.96,0.44,5.75,1025.80,...,0.81,11.59,12.96,1.0,11.59,7.01,12.96,4.69,0.05,NaN

In [316]:
weather_energy_holiday["Type"].unique()
weather_energy_holiday['Isholiday'] = np.where(weather_energy_holiday['Type'].isna(),0,1)
weather_energy_holiday.tail()

,day,energy_sum,HouseCount,avg_energy,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,...,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type,Isholiday
812,2014-02-24,51994.547004,4994,10.411403,14.23,183,6.03,0.50,5.02,1005.19,...,4.78,14.23,1.0,8.25,7.99,14.23,5.52,0.82,NaN,0
813,2014-02-25,51423.508001,4995,10.294997,11.43,202,5.06,0.62,5.69,1000.65,...,1.67,11.43,1.0,4.17,6.79,10.31,3.89,0.86,NaN,0
814,2014-02-26,50943.305995,4993,10.202945,11.29,227,2.74,0.26,3.82,1012.73,...,3.03,11.29,2.0,6.01,4.17,11.29,1.67,0.90,NaN,0
815,2014-02-27,51678.185998,4990,10.356350,10.31,224,3.08,0.32,4.14,1007.02,...,0.82,10.31,2.0,3.43,3.93,10.31,1.41,0.93,NaN,0
816,2014-02-28,1042.266000,4987,0.208997,7.35,61,3.11,0.67,2.24,998.92,...,0.76,4.51,1.0,3.05,3.43,7.35,0.82,0.97,NaN,0

In [317]:
weather_energy_holiday['DayOfWeek'] = pd.to_datetime(weather_energy_holiday['day']).dt.dayofweek  # monday = 0, sunday = 6
weather_energy_holiday['Isweekend'] = 0          # Initialize the column with default value of 0
weather_energy_holiday.loc[weather_energy_holiday['DayOfWeek'].isin([5, 6]), 'Isweekend'] = 1

weather_energy_holiday.head(7)

,day,energy_sum,HouseCount,avg_energy,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,...,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Type,Isholiday,DayOfWeek,Isweekend
0,2011-11-23,90.385000,13,6.952692,10.36,229,6.29,0.36,2.04,1027.12,...,1.0,8.24,3.81,10.36,2.18,0.94,NaN,0,2,0
1,2011-11-24,213.412000,25,8.536480,12.93,204,8.56,0.41,4.04,1027.22,...,1.0,9.71,8.56,12.93,7.01,0.97,NaN,0,3,0
2,2011-11-25,303.993000,32,9.499781,13.03,243,7.24,0.48,5.02,1024.47,...,1.0,7.01,7.46,12.27,4.84,0.01,NaN,0,4,0
3,2011-11-26,420.976000,41,10.267707,12.96,237,6.96,0.44,5.75,1025.80,...,1.0,11.59,7.01,12.96,4.69,0.05,NaN,0,5,1
4,2011-11-27,444.883001,41,10.850805,13.54,256,5.76,0.42,5.48,1021.11,...,1.0,1.31,4.47,13.54,2.94,0.08,NaN,0,6,1
5,2011-11-28,500.686000,55,9.103382,12.58,190,4.39,0.56,2.34,1022.80,...,1.0,10.27,1.31,10.27,1.31,0.12,NaN,0,0,0
6,2011-11-29,584.317000,63,9.274873,13.47,213,8.61,0.60,6.48,1009.70,...,1.0,6.34,6.37,13.47,3.39,0.15,NaN,0,1,0

In [318]:
weather_energy_holiday.drop(['Type','DayOfWeek'],axis=1,inplace=True)
weather_energy_holiday.head(4)

,day,energy_sum,HouseCount,avg_energy,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,...,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,Isholiday,Isweekend
0,2011-11-23,90.385,13,6.952692,10.36,229,6.29,0.36,2.04,1027.12,...,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94,0,0
1,2011-11-24,213.412,25,8.536480,12.93,204,8.56,0.41,4.04,1027.22,...,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97,0,0
2,2011-11-25,303.993,32,9.499781,13.03,243,7.24,0.48,5.02,1024.47,...,4.69,13.03,1.0,7.01,7.46,12.27,4.84,0.01,0,0
3,2011-11-26,420.976,41,10.267707,12.96,237,6.96,0.44,5.75,1025.80,...,11.59,12.96,1.0,11.59,7.01,12.96,4.69,0.05,0,1

In [319]:
weather_energy_holiday["IsBankHoliday"] = weather_energy_holiday["Isholiday"]+weather_energy_holiday["Isweekend"]
weather_energy_holiday.loc[weather_energy_holiday["IsBankHoliday"]==2, ["IsBankHoliday"]]=1

In [320]:
weather_energy_holiday.drop(['Isholiday','Isweekend'],axis=1,inplace=True)
weather_energy_holiday.head(3)

,day,energy_sum,HouseCount,avg_energy,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,...,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,IsBankHoliday
0,2011-11-23,90.385,13,6.952692,10.36,229,6.29,0.36,2.04,1027.12,...,0.93,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94,0
1,2011-11-24,213.412,25,8.536480,12.93,204,8.56,0.41,4.04,1027.22,...,0.89,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97,0
2,2011-11-25,303.993,32,9.499781,13.03,243,7.24,0.48,5.02,1024.47,...,0.79,4.69,13.03,1.0,7.01,7.46,12.27,4.84,0.01,0

In [322]:
print(weather_energy_holiday.columns)

Index(['day', 'energy_sum', 'HouseCount', 'avg_energy', 'temperatureMax',
       'windBearing', 'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'IsBankHoliday'],
      dtype='object')

In [325]:
weather_energy_holiday.rename(columns={'energy_sum':'TotEnergyPerDay','IsBankHoliday':'holiday'}, inplace=True)
weather_energy_holiday.head()

,day,TotEnergyPerDay,HouseCount,avg_energy,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,...,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday
0,2011-11-23,90.385000,13,6.952692,10.36,229,6.29,0.36,2.04,1027.12,...,0.93,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94,0
1,2011-11-24,213.412000,25,8.536480,12.93,204,8.56,0.41,4.04,1027.22,...,0.89,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97,0
2,2011-11-25,303.993000,32,9.499781,13.03,243,7.24,0.48,5.02,1024.47,...,0.79,4.69,13.03,1.0,7.01,7.46,12.27,4.84,0.01,0
3,2011-11-26,420.976000,41,10.267707,12.96,237,6.96,0.44,5.75,1025.80,...,0.81,11.59,12.96,1.0,11.59,7.01,12.96,4.69,0.05,1
4,2011-11-27,444.883001,41,10.850805,13.54,256,5.76,0.42,5.48,1021.11,...,0.72,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,1

In [326]:
final_df = weather_energy_holiday.groupby('day').mean()
final_df.drop(['avg_energy'], axis=1, inplace=True)
final_df.holiday = final_df.holiday.astype(int)

final_df.head()

,TotEnergyPerDay,HouseCount,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,humidity,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday
day,,,,,,,,,,,,,,,,,,,,
2011-11-23,90.385000,13.0,10.36,229.0,6.29,0.36,2.04,1027.12,10.36,8.06,0.93,6.56,10.36,1.0,8.24,3.81,10.36,2.18,0.94,0
2011-11-24,213.412000,25.0,12.93,204.0,8.56,0.41,4.04,1027.22,12.93,10.64,0.89,7.30,12.93,1.0,9.71,8.56,12.93,7.01,0.97,0
2011-11-25,303.993000,32.0,13.03,243.0,7.24,0.48,5.02,1024.47,12.27,12.38,0.79,4.69,13.03,1.0,7.01,7.46,12.27,4.84,0.01,0
2011-11-26,420.976000,41.0,12.96,237.0,6.96,0.44,5.75,1025.80,12.96,13.07,0.81,11.59,12.96,1.0,11.59,7.01,12.96,4.69,0.05,1
2011-11-27,444.883001,41.0,13.54,256.0,5.76,0.42,5.48,1021.11,13.54,13.08,0.72,1.31,13.54,1.0,1.31,4.47,13.54,2.94,0.08,1

In [327]:
final_df['AvgEnergyPerDay'] = [i / j for i, j in zip(final_df['TotEnergyPerDay'], final_df['HouseCount'])]
final_df.head()
final_df.tail()

,TotEnergyPerDay,HouseCount,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,visibility,...,apparentTemperatureLow,apparentTemperatureMax,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,AvgEnergyPerDay
day,,,,,,,,,,,,,,,,,,,,,
2014-02-24,51994.547004,4994.0,14.23,183.0,6.03,0.50,5.02,1005.19,14.23,13.00,...,4.78,14.23,1.0,8.25,7.99,14.23,5.52,0.82,0,10.411403
2014-02-25,51423.508001,4995.0,11.43,202.0,5.06,0.62,5.69,1000.65,10.31,12.09,...,1.67,11.43,1.0,4.17,6.79,10.31,3.89,0.86,0,10.294997
2014-02-26,50943.305995,4993.0,11.29,227.0,2.74,0.26,3.82,1012.73,11.29,13.00,...,3.03,11.29,2.0,6.01,4.17,11.29,1.67,0.90,0,10.202945
2014-02-27,51678.185998,4990.0,10.31,224.0,3.08,0.32,4.14,1007.02,10.31,12.04,...,0.82,10.31,2.0,3.43,3.93,10.31,1.41,0.93,0,10.356350
2014-02-28,1042.266000,4987.0,7.35,61.0,3.11,0.67,2.24,998.92,4.51,10.80,...,0.76,4.51,1.0,3.05,3.43,7.35,0.82,0.97,0,0.208997

In [328]:
final_df.reset_index(inplace=True)

In [336]:
final_df = final_df[final_df["day"] != "2014-02-28"]
final_df.tail()

,day,TotEnergyPerDay,HouseCount,temperatureMax,windBearing,dewPoint,cloudCover,windSpeed,pressure,apparentTemperatureHigh,...,uvIndex,temperatureLow,temperatureMin,temperatureHigh,apparentTemperatureMin,moonPhase,holiday,AvgEnergyPerDay,month,date
809,2014-02-23,57379.092995,4998.0,11.94,200.0,6.17,0.66,7.10,1010.37,11.94,...,1.0,7.99,8.67,11.94,5.53,0.78,1,11.480411,2,23
810,2014-02-24,51994.547004,4994.0,14.23,183.0,6.03,0.50,5.02,1005.19,14.23,...,1.0,8.25,7.99,14.23,5.52,0.82,0,10.411403,2,24
811,2014-02-25,51423.508001,4995.0,11.43,202.0,5.06,0.62,5.69,1000.65,10.31,...,1.0,4.17,6.79,10.31,3.89,0.86,0,10.294997,2,25
812,2014-02-26,50943.305995,4993.0,11.29,227.0,2.74,0.26,3.82,1012.73,11.29,...,2.0,6.01,4.17,11.29,1.67,0.90,0,10.202945,2,26
813,2014-02-27,51678.185998,4990.0,10.31,224.0,3.08,0.32,4.14,1007.02,10.31,...,2.0,3.43,3.93,10.31,1.41,0.93,0,10.356350,2,27

In [337]:
final_df['day'] = pd.to_datetime(final_df['day'])
final_df['month'] = final_df['day'].dt.month
final_df['date'] = final_df['day'].dt.day

print('max date: ', max(final_df['day']))
print('min date: ', min(final_df['day']))

max date:  2014-02-27 00:00:00
min date:  2011-11-23 00:00:00

In [338]:
final_df.columns

Index(['day', 'TotEnergyPerDay', 'HouseCount', 'temperatureMax', 'windBearing',
       'dewPoint', 'cloudCover', 'windSpeed', 'pressure',
       'apparentTemperatureHigh', 'visibility', 'humidity',
       'apparentTemperatureLow', 'apparentTemperatureMax', 'uvIndex',
       'temperatureLow', 'temperatureMin', 'temperatureHigh',
       'apparentTemperatureMin', 'moonPhase', 'holiday', 'AvgEnergyPerDay',
       'month', 'date'],
      dtype='object')

In [339]:
final_df.shape

(814, 24)

In [340]:
final_df.to_csv('../data/final_df.csv', index=False)